.text {
  background-color: #ffe6c3;
  color: var(--caret-color);
  padding: 0.1em 0.2em;
  border-radius: 0.3em;
  font-weight: 500 !important;
}

.text[data-color="yellow"] {
  background-color: #ffe6c3;
}

.text[data-color="blue"] {
  background-color: rgb(194, 221, 255);
}

.text[data-color="red"] {
  background-color: rgb(255, 206, 206);
}

.text[data-color="purple"] {
  background-color: #d7cfff;
}
